
body1{
	background-image:url('black.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	overflow:hidden;
	
	font-style:italic
	font-weight:00;
	color:white;
	
}
#top
{
position:fixed;
}

td
{
border:none;
}
tr{border:none;

}
#main
{
    padding-top:10px;
    position:absolute;
    overflow:scroll;
    padding-top:20px;
    margin-left:15px;
    border:inset;
    height:550px;;
    width:40%;
    overflow:scroll;
    float:left;
    left: -5px;
    top: 62px;
}#f1{
    position: absolute;
    left: 400px;
    width: 400px;
    height: 200px;
    border: inset;
    margin-top:100px;
    padding-top: -10px;
    padding-bottom: 280px;
    padding-left: 60px;
    padding-right: 30px;
    margin-bottom:250px;
    }
#t1
{
border:none;
padding-top:20px;
 width:700px;
  padding-left: 100px;
        font-size: 20px;
 }
 ul{
        position: absolute;
        left: 830px;
        top: -10px;
        list-style: none;

    }
    ul li{
        display: inline-block;
        position: relative;
        line-height: ;
        text-align: left;
    }
    ul li a{
        display: block;
        padding: 18px 25px;
        color: #333;
        text-decoration: none;
    }

    ul li ul.dropdown{
        max-width: 100px; /* Set width of the dropdown */
        background: ;
        display: none;
        position: absolute;
        z-index: 999;
        left: -21px;
        top: 30px;
        width: 100px;
        font-size: 15px;
    }
    ul li:hover ul.dropdown{
        display: block;	/* Display the dropdown */
    }
    ul li ul.dropdown li{
        display: block;
    }		
    #session{
        position: absolute;
        padding-left: 600px;
        top: 10px;
    }
    #f3{
        position: absolute;
        padding-left: 600px;
        top: 60px;
    }
    #dashboard{
        position: absolute;
        border: 5px thin black;
        color: black;
        text-decoration: none;
        left: 500px;
        top: 30px;

    }
    #home{
        position: absolute;
        color: black;
        text-decoration: none;
        left: 400px;
        top: 30px;
    }
    #jobs{
        position: absolute;
        color: black;
        text-decoration: none;
        left: 300px;
        top: 30px;

    }

    #ar{
        position: absolute;
        top: 160px;
        left: 580px;
    }
    #area{
        position: absolute;
        top: 210px;
        left: 450px;
    }
    #login{
        position: absolute;
        color: black;
        text-decoration: none;
        left: 600px;
        top: 30px;

    }
   